@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Poppins:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

ul, li  {
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.padding-xy {
  padding-left: 10%;
  padding-right: 10%;
}
@media (max-width: 768px) {
  .padding-xy {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.btn-cta {
  background-color: hsl(180, 66%, 49%);
  color: whitesmoke;
  padding: .5rem .8rem;
  font-weight: 500;
  font-size: .85rem;
}


/* Header  */

header {
  padding-top: 2.5rem;
}
@media (max-width: 768px) {
  header {
    padding-top: 1.5rem;
  }
}


/* Hero */
.hero {
  overflow: hidden;
}

.hero-image {
  width: 130%;
}

.title {
  width: 80%;
  margin: auto;
  font-weight: 700;
}

.subtitle {
  color: rgb(158,154,167);
  width: 85%;
  font-weight: 500;
  text-align: center;
  margin: auto;
}

@media (min-width: 900px) {
  .hero {
    padding-left: 9%;
    overflow: hidden;
    padding-bottom: 4rem;
  }
  .hero-image {
    width: 200%;
  }
  .site-desc {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .hero .title {
    text-align: start;
    margin: 0;
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
  .hero .subtitle {
    text-align: start;
    margin: 0;
  }
}

/* Main  */

main {
  background-color: rgb(239,240,245);
  padding-top: 3rem;
}

.stats .title {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
}

.stats .subtitle {
  max-width: 30rem;
  text-align: center;
  margin: auto;
}


.cta {
  background: url('./images/bg-boost-mobile.svg');
  background-color: hsl(257, 27%, 26%);
  height: 12rem;
  background-size: contain;
}

.cta h2 {
  max-width: 100%;
}

.cta .btn-cta {
  padding: .7rem .4rem;
  font-size: 1rem;
  width: 9rem;
}

.btn-cta:hover {
  opacity: .75;
  transition: all;
  transition-duration: 200ms;
}

@media (min-width: 768px) {
  .cta {
    background: url('./images/bg-boost-desktop.svg');
    background-color: hsl(257, 27%, 26%);
    background-size: cover;
  }
}

/* Shortener  */
.shortener {
  background: url('./images/bg-shorten-desktop.svg');
  background-color: hsl(257, 27%, 26%);
  width: 82%;
  height: 8rem;
  margin: auto;
  padding: 2.2rem 3.5rem;
  border-radius: .375rem;
  margin-bottom: 4rem;
}

form {
  height: 100%;
  display: grid;
  grid-template-columns: 8fr 1fr;
  gap: 1.5rem;
}

input {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  border-radius: .375rem;
}

form .btn-cta {
  font-size: 1rem;
  font-weight: 600;
  border-radius: .375rem;

}

.warning {
  display: none;
}

@media (max-width: 900px) {
  form {
    grid-template-columns: 1fr;
  }
}



